<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated prototype5 -->
      <package
            uri="http://www.example.org/prototype5"
            class="prototype5.Prototype5Package"
            genModel="model/prototype5.genmodel"/>
   </extension>

</plugin>
